@page {
    size: A4 landscape;
}

.comum {
    background-color: Gray;
    font-size: 14px;
    font-family: Segoe UI;
}

.site {
    background-color: #C1D6FF;
    width: 550px;
    height: 300px;
}

.cabecalho {
    height: 100px;
    background-color: White;
    background-image: url(Imagens/cabecalho.png);
    background-repeat: no-repeat;
    background-position: center;
}

.conteudo {
    height: 200px;
    vertical-align: top;
}

.rodape {
    height: 25px;
    background-color: #6591CC;
    color: White;
    font-size: 13px;
}

.linhaCor {
    background-color: #C1D6FF;
}

.linhaAlternativa {
    background-color: #9DBDFF;
}

.linhaTitulo {
    background-color: #17375E;
    color: White;
    font-size: 14px;
    font-weight: bolder;
    padding: 5px;
    padding-bottom: 8px;
}

.texto {
    font-size: 14px;
}

.textoGrid {
    font-size: 11px;
    margin-right: 0px;
}

.fonteTitulo {
    background-color: #333333;
    color: White;
    text-transform: uppercase;
    height: 25px;
    font-size: 12px;
    padding: 5px;
}

.btn, .btn:focus {
    outline: none;
    box-shadow: 0 3px #999;
    background-color: #eee;
}

.btn:active {
    box-shadow: 0 0px #666;
    transform: translateY(3px);
}

.btn-pesquisa, .btn-pesquisa:focus {
    box-shadow: 0 1.5px #999;
}

.btn-pesquisa:active {
    box-shadow: 0 0px #666;
    transform: translateY(1.5px);
}